/TAGS
/build-cli/CDC.o
/build-cli/HID.o
/build-cli/HardwareSerial.o
/build-cli/IPAddress.o
/build-cli/MakeyMakey-klon.elf
/build-cli/MakeyMakey-klon.hex
/build-cli/Print.o
/build-cli/Stream.o
/build-cli/Tone.o
/build-cli/USBCore.o
/build-cli/WInterrupts.o
/build-cli/WMath.o
/build-cli/WString.o
/build-cli/depends.mk
/build-cli/libcore.a
/build-cli/main.o
/build-cli/makey_makey.cpp
/build-cli/makey_makey.d
/build-cli/makey_makey.o
/build-cli/new.o
/build-cli/wiring.o
/build-cli/wiring_analog.o
/build-cli/wiring_digital.o
/build-cli/wiring_pulse.o
/build-cli/wiring_shift.o
